body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: Arial;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  width: 60px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
}